<h1 style="text-align: center;padding-top: 20px;" nz-typography>DASHBOARD</h1>

<div class="Card-Container">
    <nz-card class="Chart-card">
        <p>Chart</p>
        <p>Chart</p>
        <p>Chart</p>
    </nz-card>
    <nz-card class="Chart-card">
        <p>Chart</p>
        <p>Chart</p>
        <p>Chart</p>
    </nz-card>
    <nz-card class="Chart-card">
        <p>Chart</p>
        <p>Chart</p>
        <p>Chart</p>
    </nz-card>

</div>
<nz-table [nzLoading]="loading" #nzTable [nzData]="listOfDisplayData" nzTableLayout="auto" class="Table-Container"
    style="padding-right: 20px;" [nzScroll]="{ x: '1100px' }" nzOuterBordered nzSize="middle">
    <thead>
        <tr>
            <th nzCustomFilter [nzSortFn]="listOfColumn[0].compare" [nzSortPriority]="listOfColumn[0].priority" nzLeft>
                Name
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th>Email
            </th>
            <th>Phone
            </th>
            <th>Doctor
            </th>
            <th [nzSortFn]="listOfColumn[1].compare" [nzSortPriority]="listOfColumn[1].priority">
                Prenotation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td nzLeft>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.doctorSelected }}</td>
            <td>{{ data.prenotation|date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </tbody>
</nz-table>

<!-- templeate search box -->
<nz-dropdown-menu #menu="nzDropdownMenu" style="box-shadow: none;">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" (keyup.enter)="search()" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>