<div
    style="display: flex; flex-direction: column; height: 100vh; width: 100vw; justify-content: center; align-items: center;">
    <h1 nz-typography>Log In</h1>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" style="height: 30px;" nz-input formControlName="username"
                        placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" style="height: 30px;" nz-input formControlName="password"
                        placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{textLoading}}<span
                *ngIf="isLoading" nz-icon nzType="loading" nzTheme="outline"></span></button>
        <label style="color:#ff4d4f; margin-top: 0; margin-bottom: 5px; padding-top: 0;"
            *ngIf="isLoginFailed">{{errorMessage}}</label>
    </form>
</div>